button[type=submit] {
    font-size: 1rem;
    color: #555;
    background-color: #ddd;
    border: 4px solid #999;
    margin-top: 10pt;
}

input[name=content] {
    font-size: 2rem;
    width: 100%;
    padding-top: 30px;
    border: none;
    border-bottom: 4px solid #999;
}

label {
    font-size: 1rem;
    position: relative;
    top: 12pt;
    font-weight: 600;
}