.todo-item {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 10px;
    justify-content: space-between;
    margin: 10px 0 10px 0;
    background-color: #ddd;
    border: 4px solid #999;
}

.complete {
    opacity: 0.5;
}

input[type=checkbox] {
    transform: scale(3);
    margin: 10px;
}
